/*   PRESENTATION BANNER   */

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation-banner img{
    width: 100%;
    height: 80vh;  
}

.presentation-msg {
    margin: 50px;
    display: flex;
    letter-spacing: 1px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.presentation-text h1{
    padding: 10px;
}

.subscribe-btn {
    margin: 20px;
    font-size: 17px;
    color: #fff;
    background-color: var(--orange);
    border: solid 2px var(--orange);
}

.subscribe-btn:hover {
    color: var(--orange);
    background-color: rgba(0, 0, 0, 0);
    border: solid 2px var(--orange);
}

/*   COURSES   */

.courses {
    padding: 20px;
    background-color: var(--black);
}

.courses h1 {
    margin-top: 20px;
    text-align: center;
    color: #fff;
}

.items {
    display: flex;
    justify-content: space-between;
}

.courses-card {
    width: 320px;
    margin: 40px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.8);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-img > img {
    opacity: 0.8;
    width: 100%;
}

.card-title {
    margin: 15px;
}

.card-description {
    display: none;
}

.card-img > img:hover {
    opacity: 1;
}

.courses-card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s
}

/*   NEWSLETTER   */

.newsletter {
    height: 450px;
    display: flex;
}

.newsletter-banner {
    width: 50%;
    text-align: center;
}

.newsletter-banner img {
    width: 60%;
}

.newsletter-subscription {
    text-align: center;
    width: 50%;
    padding: 40px;
    background-color: var(--orange);
}

.newsletter-form {
    padding: 20px;
    display: block;
}

.newsletter-form h3 {
    margin: 10px 0 30px 0;
}

.newsletter-form > input {
    width: 70%;
    padding: 10px;
    margin: 20px;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--black);
    outline: none;
    border-radius: 10px;
}

.input-label, .newsletter-btn {
    font-size: 20px;
    font-weight: 300;
}

.newsletter-btn {
    margin-top: 20px;
    color: #fff;
    background-color: var(--black);
    border: 2px solid var(--black);
}

/* ADD FADEIN ON THE PAGE LOAD */

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
    }
    @-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
    }
    @-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }
    @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 2s ease-in-out;
    -moz-animation: fadeIn 2s ease-in-out;
    -o-animation: fadeIn 2s ease-in-out;
    animation: fadeIn 2s ease-in-out;
}

