/* PRESENTATION BANNER */

.presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.presentation-banner {
    width: 100%;
    height: 80vh;
    background-image: url(../assets/banner-img.svg);
    background-repeat: no-repeat;
}

.presentation-msg {
    margin: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.presentation-text h1{
    padding: 10px;
}

.subscribe-btn {
    margin: 20px;
    font-size: 20px;
    color: #fff;
    background-color: var(--orange);
    border: solid 2px var(--orange);
}

.subscribe-btn:hover {
    transform: scale(1.1);
    transition-duration: 0.5s;
}

/* COURSES */

.courses {
    padding: 20px;
    background-color: var(--black);
}

.courses h1 {
    margin-bottom: 20px;
    color: #fff;
}

.items {
    display: flex;
    justify-content: space-between;
}

.courses-card {
    width: 320px;
    margin: 40px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 1px 1px 20px 1px rgba(0,0,0,0.8);
}

.card-img > img {
    opacity: 0.8;
    width: 100%;
}

.card-title {
    margin: 15px;
}

.card-description {
    display: none;
}

.card-img > img:hover {
    opacity: 1;
}

.courses-card:hover {
    transform: scale(1.05);
    transition-duration: 0.5s
}